<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Cadastro</title>
</head>
<body>
    <header>
        <h1> Cadastro </h1>
    </header>

    <form action="/cadastrar/salvar" method="POST" >
        <div>
            <label for="nome"> Nome:</label>
            <input type="text" name="nome" id="nome">
        </div>

        <div>
            <label for="email"> Email:</label>
            <input type="email" name="email" id="email">
        </div>

        <div>
            <label for="senha"> Senha:</label>
            <input type="password" name="senha" id="senha">
        </div>

        <button type="submit">Enviar</button>
    </form>


</body>
</html>